/*etiquetas*/

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
figure {
    font-family: 'Ropa Sans', sans-serif;
    margin: 0;
}

p {
    margin: 0.1rem;
}

main {
    text-align: center;
}


/*CLASES*/

.register {
    font-size: 1rem;
    color: #011627;
    position: relative;
    left: 6rem;
    top: 2rem;
    cursor: pointer;
}

.register:hover {
    color: white;
}

.login {
    height: 100vh;
    width: 100%;
    background-image: url("img/perro-mirando-arriba_23-2147787329.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    font-size: 1.4rem;
}

.redes {
    display: flex;
}

.redes a img {
    height: 2rem;
}

.input-login {
    border-radius: 10px;
    border: 2px solid white;
    background: rgba(24, 61, 196, 0.02);
    padding: 0.5rem;
    margin: 0.2rem;
}

.register-input {
    border: 2px solid #EC0843;
    width: 17rem;
}


/* .input-login::placeholder {
    color: white;
    text-align: center;
} */

.buttons {
    background-color: #EC0843;
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
    width: 11.5rem;
    color: white;
    position: relative;
    bottom: -4rem;
    font-size: 1.3rem;
}

.listo {
    bottom: 0;
}


/*ID*/

#logo-login {
    height: 8rem;
}

#slogan {
    font-family: 'Oswald', sans-serif;
    margin: 0 1rem 1rem 1rem;
}

#facebook,
#google {
    background-color: #183DC3;
    width: 9rem;
    height: 44px;
    padding: 0.3rem;
    border-radius: 10px;
    margin: 0.5rem;
    color: white;
}

#google {
    background-color: #D62D22;
}

@media only screen and (min-width: 768px) {
    .login {
        background-image: url("img/cat2.jpg");
        background-repeat: no-repeat;
    }
    .input-login {
        border: 2px solid #011627;
        color: #011627;
    }
    .input-login::placeholder {
        color: #011627;
    }
    .register-input {
        border: 2px solid #EC0843;
        width: 17rem;
    }
    #logo-login {
        height: 12rem;
    }
}