/*etiquetas*/

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
figure {
    font-family: 'Ropa Sans', sans-serif;
    margin: 0;
}

main {
    text-align: center;
}

main section p {
    margin: 0;
    margin-bottom: 0px;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
    margin: 0 0;
    font-size: 1rem;
    width: 100%;
    padding: 1rem;
    background-color: white;
    box-sizing: border-box;
}

header nav menu {
    margin: 0;
}

nav figure {
    margin: 1rem;
    display: flex;
}

nav figure img {
    height: 5rem;
}

nav menu li i {
    font-size: 2rem;
    color: #011627;
}

menu ul {
    list-style: none;
}

.header {
    position: sticky;
    background-color: white;
    top: 0;
    z-index: 2;
}

.options {
    display: none;
    width: 100%;
    padding: 0.5rem;
    left: 0;
    position: absolute;
}

.options ul,
.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-bars:hover .options {
    color: #EC0843;
    display: block;
    height: fit-content;
    padding: 0 2rem;
    cursor: pointer;
}

.options-menu {
    background-color: #EC0843;
    width: 100%;
    padding: 1rem;
    font-family: 'Ropa Sans', sans-serif;
}

.options-menu li,
.options-menu a {
    font-size: 1.5rem;
    color: white;
    margin: 1rem 0rem 1rem 0rem;
    list-style: none;
    text-decoration: none;
}

.options-menu li:hover,
.options-menu a:hover {
    color: #011627;
    cursor: pointer;
}

.menu-desktop {
    display: none;
}


/*CLASES*/

.register {
    font-size: 1rem;
    color: #011627;
    position: relative;
    left: 6rem;
    top: 1rem;
    cursor: pointer;
}

.register:hover {
    color: white;
}

.login {
    height: 100vh;
    width: 100%;
    background-image: url("img/perro-mirando-arriba_23-2147787329.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    font-size: 1.4rem;
}

.redes {
    display: flex;
    justify-content: center;
}

.redes a img {
    height: 2rem;
}

.register-img {
    display: flex;
    align-items: center;
}

.register-img a img {
    cursor: pointer;
    height: 3rem;
    margin: 0.2rem 1rem 0rem 1rem;
}

.input-login {
    border-radius: 10px;
    border: 2px solid white;
    background: rgba(24, 61, 196, 0.02);
    padding: 0.5rem;
    margin: 0.2rem;
}

.register-input {
    border: 2px solid #EC0843;
    width: 17rem;
}

.buttons {
    background-color: #EC0843;
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
    width: 11.5rem;
    color: white;
    position: relative;
    bottom: -2rem;
    font-size: 1.2rem;

}

main {
    display: flex;
    background-image: url("img/welovepetsC_2048x.jpg");
    width: 100%;
    height: 30%;
    background-repeat:no-repeat;
    background-position: bottom;      
}

.listo {
    bottom: 0;
}

.profile-photo {
    font-family: 'Ropa sans';
}

.photo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Ropa sans';
}
.element-photo {
    width: 11rem;
    height: 10rem;
}
/* Formulario Mi info */


.form-profile {
    font-family: 'Ropa sans';
    margin: 0
}

.input-profile{
    border: 2px solid #EC0843;
    width: 17rem;
    border-radius: 10px;
}
.age{
    display:flex;
    justify-content: center;
}
.num-age{
    border: 2px solid #EC0843;
    width: 5rem;
    border-radius: 10px;  
    text-align: center;
    margin: 0 1rem 0 1rem;
}

.input-age {
    border: 2px solid #EC0843;
    width: 8rem;
    border-radius: 10px;  
    text-align: center;
}
.description-fur {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-description {
    border: 2px solid #EC0843;
    height: 8rem;
    width: 17rem;
    border-radius: 10px;  
    text-align: center;
}

.save{
    display: flex;
    justify-content: center;
}    
.button-agree {
        background-color: #EC0843;
        padding: 0.3rem;
        border-radius: 10px;
        border: none;
        width: 11.5rem;
        color: white;
        position: relative;
        /* bottom: -3rem; */
        font-size: 1rem;
        position: relative;
    }
    

    













/*ID*/

#logo-login {
    height: 8rem;
}

#slogan {
    font-family: 'Oswald', sans-serif;
    margin: 0 1rem 0 1rem;
}

#facebook,
#google {
    background-color: #183DC3;
    width: 9rem;
    height: 44px;
    padding: 0.3rem;
    border-radius: 10px;
    margin: 0.5rem;
    color: white;
}

#google {
    background-color: #D62D22;
}

#divider {
    width: 100%;
    margin: 0;
}

@media only screen and (min-width: 768px) {
    .login {
        background-image: url("img/cat2.jpg");
        background-repeat: no-repeat;
    }
    .input-login {
        border: 2px solid #011627;
        color: #011627;
    }
    .input-login::placeholder {
        color: #011627;
    }
    .register-input {
        border: 2px solid #EC0843;
        width: 17rem;
    }
    #logo-login {
        height: 12rem;
    }
    .menu {
        display: none;
    }
    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 1rem;
    }
    .menu-desktop {
        display: flex;
        flex-direction: row;
    }
    .menu-desktop li,
    .menu-desktop a {
        display: flex;
        justify-content: space-between;
        margin: auto 1rem;
        text-decoration: none;
        color: #011627;
    }
    .menu-desktop li:hover,
    .menu-desktop a:hover {
        color: #EC0843;
        cursor: pointer;
    }
}